<!DOCTYPE html>
<html ng-app="annoncesApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <div ng-controller="AnnoncesList">

        Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="title">Title</option>
            <option value="price">Price</option>
            <option value="surface">Surface</option>
          </select>

        <ul>
          <li ng-repeat="annonce in annonces | filter:query | orderBy:orderProp">
            <h2>
                <a href="{{annonce.lien}}">
                    {{annonce.title}}
                </a> - {{annonce.price}}
            </h2>
            <div>
                <img src="{{image.image}}" ng-repeat="image in annonce.images" style="float:left;" width="160" height="120" />
            </div>
            <br clear="both" />
            <p>{{annonce.description}}</p>
          </li>
        </ul>
    </div>

  </body>
</html>
